@page "/YoServiceinOrders/edit"
@inject yoko.Data.ApplicationDbContext DB
@using yoko.Data
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>YoServiceinOrder</h4>
<hr />
@if (YoServiceinOrder is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="YoServiceinOrder" OnValidSubmit="UpdateYoServiceinOrder" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="YoServiceinOrder.Id" value="@YoServiceinOrder.Id" />
                <div class="mb-3">
                    <label for="serviceid" class="form-label">ServiceId:</label>
                    <InputNumber id="serviceid" @bind-Value="YoServiceinOrder.ServiceId" class="form-control" />
                    <ValidationMessage For="() => YoServiceinOrder.ServiceId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="orderid" class="form-label">OrderId:</label>
                    <InputNumber id="orderid" @bind-Value="YoServiceinOrder.OrderId" class="form-control" />
                    <ValidationMessage For="() => YoServiceinOrder.OrderId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="employeeid" class="form-label">EmployeeId:</label>
                    <InputText id="employeeid" @bind-Value="YoServiceinOrder.EmployeeId" class="form-control" />
                    <ValidationMessage For="() => YoServiceinOrder.EmployeeId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="amount" class="form-label">Amount:</label>
                    <InputNumber id="amount" @bind-Value="YoServiceinOrder.Amount" class="form-control" />
                    <ValidationMessage For="() => YoServiceinOrder.Amount" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/yoserviceinorders">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    public YoServiceinOrder? YoServiceinOrder { get; set; }

    protected override async Task OnInitializedAsync()
    {
        YoServiceinOrder ??= await DB.YoServiceinOrders.FirstOrDefaultAsync(m => m.Id == Id);

        if (YoServiceinOrder is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdateYoServiceinOrder()
    {
        DB.Attach(YoServiceinOrder!).State = EntityState.Modified;

        try
        {
            await DB.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!YoServiceinOrderExists(YoServiceinOrder!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/yoserviceinorders");
    }

    bool YoServiceinOrderExists(int id)
    {
        return DB.YoServiceinOrders.Any(e => e.Id == id);
    }
}
