@page "/yousers/delete/{userId}"
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Identity
@using yoko.Data
@using System.ComponentModel.DataAnnotations
@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager NavigationManager

<PageTitle>Delete User</PageTitle>

<h1>Delete User</h1>

@if (User != null)
{
    <EditForm method="post" Model="UserManager" OnValidSubmit="DeleteUser" FormName="delete" Enhance>
        <p>Are you sure you want to delete user <strong>@User.Email</strong>?</p>
        <button type="submit" class="btn btn-danger" disabled="@(User is null)">Delete</button> 
    </EditForm>
    <div>
        <a href="/yousers">Back to List</a>
    </div>
}
else
{
    <p>User not found.</p>
}
@code {
    // [SupplyParameterFromQuery]
    [Parameter]
    public string UserId { get; set; }

    private ApplicationUser? User { get; set; }

    protected override async Task OnInitializedAsync()
    {
        User = await UserManager.FindByIdAsync(UserId);
    }

    private async Task DeleteUser()
    {
        if (User != null)
        {
            var result = await UserManager.DeleteAsync(User);
            if (result.Succeeded)
            {
                NavigationManager.NavigateTo("/yousers");
            }
            else
            {
                // Handle error
            }
        }
    }
}
