@page "/yofeedbacks"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject yoko.Data.ApplicationDbContext DB
@using yoko.Data

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="yofeedbacks/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.YoFeedbacks">
    <PropertyColumn Property="yofeedback => yofeedback.FeedbackDate" />
    <PropertyColumn Property="yofeedback => yofeedback.FeedbackText" />
    <PropertyColumn Property="yofeedback => yofeedback.Rating" />
        <AuthorizeView Roles="Admin">
            <Authorized>
                <PropertyColumn Property="yofeedback => yofeedback.GuestId" />
        </Authorized>
    </AuthorizeView>

    <TemplateColumn Context="yofeedback">
        <a href="@($"yofeedbacks/edit?id={yofeedback.Id}")">Edit</a> |
        <a href="@($"yofeedbacks/details?id={yofeedback.Id}")">Details</a>
        <AuthorizeView Roles="Admin">
            <Authorized>
        | <a href="@($"yofeedbacks/delete?id={yofeedback.Id}")">Delete</a>
            </Authorized>
        </AuthorizeView>
    </TemplateColumn>
</QuickGrid>
