@page "/"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<h1>Welcome to Hotel Yoko!</h1>

<p>
    Hotel Yoko is your premier destination for a luxurious stay.
    Whether you're here for business or pleasure, we offer a wide range of amenities and services to ensure your comfort and satisfaction.
</p>

@code {
    private string userName;
    private bool isAdminOrEmployee;
    private bool isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        isAuthenticated = user.Identity.IsAuthenticated;

        if (isAuthenticated)
        {
            userName = user.Identity.Name; // Получаем имя пользователя
            isAdminOrEmployee = user.IsInRole("Admin") || user.IsInRole("employee");
        }
    }
}

@if (isAuthenticated)
{
    <h2>Hello, @userName!</h2>
    @if (isAdminOrEmployee)
    {
        <p>Welcome, Admin or Employee!</p>
    }
    else
    {
        <p>Welcome, Guest!</p>
        <p>Please <a href="@("/guestorders")">Make order</a></p>
    }
    <p>Explore our website to learn more about our hotel and the services we offer. Ready to book your stay? <a href="@("/yoreservation")">Browse available rooms</a> now!</p>
}
else
{
    <p>Welcome, Guest!</p>
    <p>Please <a href="@("/Account/Login")">log in</a> to access more features.</p>
}
