@page "/yoservices/create"
@inject yoko.Data.ApplicationDbContext DB
@using yoko.Data
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>YoService</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="YoService" OnValidSubmit="AddYoService" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="YoService.Name" class="form-control" /> 
                <ValidationMessage For="() => YoService.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="cost" class="form-label">Cost:</label> 
                <InputNumber id="cost" @bind-Value="YoService.Cost" class="form-control" min="0" />
                <ValidationMessage For="() => YoService.Cost" class="text-danger" /> 
            </div>   
            <div class="mb-3">
                <label for="photo" class="form-label">Upload Photo:</label>
                <InputFile id="photo" OnChange="HandleFileSelect" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/yoservices">Back to List</a>
</div>

@code {

    [SupplyParameterFromForm]
    public YoService YoService { get; set; } = new();
    // Метод для обработки загруженного файла
    public async Task HandleFileSelect(InputFileChangeEventArgs e)
    {
        try
        {
            var file = e.File;
            if (file != null)
            {

                using var ms = new MemoryStream();
                await file.OpenReadStream().CopyToAsync(ms);
                var bytes = ms.ToArray();

                if (bytes != null && bytes.Length > 0)
                {
                    YoService.Photo = bytes;
                }
                else
                {
                    Console.WriteLine("The selected file is empty or invalid.");
                }
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred while handling the file: {ex.Message}");
        }

    }
    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddYoService()
    {
        DB.YoServices.Add(YoService);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/yoservices");
    }
}
