@page "/yonotifications"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject yoko.Data.ApplicationDbContext DB
@using yoko.Data

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="yonotifications/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.YoNotifications">
    <PropertyColumn Property="yonotification => yonotification.OrderId" />
    <PropertyColumn Property="yonotification => yonotification.NotificationDateTime" />
    <PropertyColumn Property="yonotification => yonotification.NotificationText" />

    <TemplateColumn Context="yonotification">
        <a href="@($"yonotifications/edit?id={yonotification.Id}")">Edit</a> |
        <a href="@($"yonotifications/details?id={yonotification.Id}")">Details</a> |
        <a href="@($"yonotifications/delete?id={yonotification.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
